# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.pytest_cache/
.coverage
htmlcov/

# Base de Datos y Entorno
.env
.database/
*.db
*.sqlite

# IDEs
.vscode/
.idea/

# Alembic
migrations/versions/__pycache__/
